.date-input {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  text-align: center;
  padding-bottom: 10px;
  z-index: 100;
}

.date-button {
  height: 25px;
  width: 25px;
  font-size: 20px;
}
