.nav-container {
  display: flex;
  padding: 20px;
  align-items: center;
}

.buddy-nav {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.middle-nav {
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
}
