.modal-container {
  width: 500px;
  min-height: 300px;
  padding: 6px;
  border-radius: 10px;
  /* className="w-[500px] min-h-[300] p-6 bg-white relative rounded-lg shadow dark:bg-gray-700" */
}

.input {
  border-radius: 10px;
  border: gray;
}

/**
className="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                           focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600
                            dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
*/
