.modal-container {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-title {
  font-size: larger;
  user-select: none;
}

.modal-contents {
  display: flex;
  justify-content: center;
  row-gap: 10px;
  padding: 25px;
}

.quick-add-modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.input-row {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.close-modal-button {
  display: flex;
  background-color: white;
  border: none;
  color: gray;
}

.close-modal-button:hover {
  background: lightgray;
}

.modal-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: -30%;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
}

.input {
  border-radius: 5px;
  border-color: rgba(148, 148, 148, 0.454);
  background-color: rgb(241, 240, 240);
  height: 30px;
  width: 300px;
}
